.content {
    margin-right: auto;
    margin-left: auto;
    max-width: 960px;
    width: 100%;
    display: block;
  }

/* Ensure the entire page takes up at least 100% of the viewport height */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden; /* Prevent horizontal scrolling */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

/* Font and Body Styles */
body {
    background-color: #ffffff;
    font-weight: 400;
    background-image: url('backgroundpicture.jpeg'); /* Add the background image */
    background-size: cover; /* Make sure the image covers the entire background */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
}



/* Middle Text Styles with Neon Glow */
.middle-text {
    font-family: 'Rubik Bubbles', sans-serif;
    font-weight: 300;
    font-size: 30px; /* Increased font size */
    color: rgb(153, 117, 76); /* Changed color to match the rest */
    text-align: center;
    flex-grow: 1;
    position: relative;
    padding: 0; /* Removed padding */
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Aligns items to the top */
    width: 100%; /* Ensure it takes up the full width */
    margin-left: -150px; /* Move the text more to the left */
    margin-top: -10px; /* Move the text more up */
}

.middle-text p {
    position: relative;
    display: inline-block;
    color: rgb(153, 117, 76); /* Changed color to match the rest */
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px rgb(153, 117, 76), 0 0 30px rgb(153, 117, 76), 0 0 40px rgb(153, 117, 76), 0 0 50px rgb(153, 117, 76), 0 0 60px rgb(153, 117, 76), 0 0 70px rgb(153, 117, 76);
    animation: neon-flicker 1.5s infinite alternate;
}

@keyframes neon-flicker {
    from {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px rgb(153, 117, 76), 0 0 30px rgb(153, 117, 76), 0 0 40px rgb(153, 117, 76), 0 0 50px rgb(153, 117, 76), 0 0 60px rgb(153, 117, 76), 0 0 70px rgb(153, 117, 76);
    }
    to {
        text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 8px rgb(153, 117, 76), 0 0 12px rgb(153, 117, 76), 0 0 16px rgb(153, 117, 76), 0 0 20px rgb(153, 117, 76), 0 0 24px rgb(153, 117, 76), 0 0 28px rgb(153, 117, 76);
    }
}

/* Header Styles */
.header {
    background-color: rgba(21, 29, 32, 0.8); /* Added transparency */
    margin-bottom: 0px;
    padding: 0px 0px; /* Increased padding */
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; /* Added for dropdown positioning */
    width: 100%; /* Ensure header takes full width */
}

/* Add box-sizing to all elements */
*, *::before, *::after {
    box-sizing: inherit;
}

.top-section {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px; /* Add padding to keep space from the left side */
    margin-bottom: 20px;
}

/* Logo Styles */
.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 150px;
    height: 150px;

}

/* Menu Styles */
.menu {
    max-width: 960px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 5px;
}

.tablinks {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; /* Ensure relative positioning for the dropdown */
    font-family: 'Lato', sans-serif; /* Changed font */
    font-size: 20px; /* Increased font size */
    color: rgb(153, 117, 76);
    cursor: pointer;
    padding: 5px 10px;
    border: 2px solid rgb(153, 117, 76); /* Added border around the title */
    border-radius: 5px; /* Added border radius */
}

.tablinks.active {
    animation: neon-flicker 1.5s infinite alternate;
}

.dropdown-title {
    font-family: 'Lato', sans-serif; 
    font-size: 20px; 
    color: rgb(153, 117, 76);
    cursor: pointer;
    display: inline-block;
    position: relative; 
    padding: 5px 10px;
    border: 2px solid rgb(153, 117, 76); 
    border-radius: 5px; 
}

.tabcontent {
  display: none;
  font-family: 'Lato', sans-serif; 
  padding: 6px 12px;
  padding-left: 60px;
  color: white;
}

/* Central Section Styles */
.central {
    background-color:rgba(0, 0, 0, 0.5);
    margin: 0;
    /*overflow: hidden;*/
    position: relative;
    overflow-y:auto;
}


.contact-info {
    display: inline;
    margin-left: 20px; /* Add some margin to the left */
    font-family: 'Arial', sans-serif; /* Font for the contact info */
}

.contact-info p {
    margin: 5px 0; /* Add some margin between the lines */
    font-size: 15px;
}

.map {
    float: right;
}




